doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='../../favicon.ico')
    title Carea
    // Bootstrap core CSS
    link(href='/stylesheets/bootstrap/bootstrap.min.css', rel='stylesheet')
    script(src='https://code.jquery.com/jquery-1.11.3.min.js')
    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    // Include all compiled plugins (below), or include individual files as needed
    // Latest compiled and minified JavaScript
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
    // Custom styles for this template
    link(href='../stylesheets/Style.css', rel='stylesheet')
  //
    NAVBAR
    ==================================================
  body
    if session
      include ./navbar_connect.jade
    else
      include ./navbar_unconnect.jade
    .container.marketing
      .row
        form.form-horizontal(action='ad/add', name='add', role='form', method='post', accept-charset='utf-8')
          .row
            .col-md-offset-2.col-md-3
              .form-group
                label(for='Nom') Objet
                input#nom.form-control(type='text', name='object', maxlenght='100', placeholder='Objet', value="#{object || ''}")
          .row
            .col-md-offset-2.col-md-3
              .form-group
                label(for='end') Ville d'arrivée
                input#end.form-control(type='text', name='end', maxlenght='100', placeholder="Ville d'arrivée", value="#{address || ''}")
          .row
            .col-md-offset-2.col-md-3
              .form-group
                label(for='date') Date
                input#date-heure.form-control(type='date', name='date', maxlenght='8', placeholder='Date', value="#{date || ''}")
            .col-md-offset-1.col-md-3
              .form-group
                label(for='date') Heure
                input#date-heure.form-control(type='time', name='beginHour', maxlenght='8', placeholder='Date', value="#{time || ''}")
          .row
            .col-md-offset-5.col-md-3
              input.btn.btn-success.btn.btn-success(type='submit' value=Submit)
    .footer-p
      footer#footer.site-footer
        section.site-footer-bottom
          ul.display
            li
              ul
                li.dispi
                  | ©2016 CARea
                  a  
                li.dispi
                  a(href='/construct') Legal Notice
                  a  
                li.dispi
                  a(href='/faq') FAQ