doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='../../favicon.ico')
    title Carea
    // Bootstrap core CSS
    link(href='../Stylesheets/bootstrap/bootstrap.css', rel='stylesheet')
    script(src='https://code.jquery.com/jquery-1.11.3.min.js')
    script(src='app.js')
    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    // Include all compiled plugins (below), or include individual files as needed
    // Latest compiled and minified JavaScript
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
    // Custom styles for this template
    link(rel='stylesheet', type='text/css', href='../stylesheets/Style.css')
  // NAVBAR ==================================================
  html
  body
    .navbar-wrapper
      .container
        nav.navbar.navbar-inverse.navbar-static-top
          .container
            .navbar-header
              button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand(href='/index') Carea
            #navbar.navbar-collapse.collapse
              ul.nav.navbar-nav
                li
                  a(href='/about') A propos / About
              ul.nav.navbar-nav.navbar-right
                li
                  a(href='/profil')
                    span.glyphicon.glyphicon-tasks
                    | Mon profil
                li.active
                  a(href='/index')
                    span.glyphicon.glyphicon-off
                    |  Se déconnecter

    br
    br
    br
    br
    br
    // Page de profil
    .container-fluid
      .row
        .col-sm-offset-3.col-md-6
            .row
              .col-md-offset-2.col-md-6
                h1(style='color:#101010') Profil
                br
                br
                .form-group
                  label(for='firstName') Nom
                  div.form-control(type='text', name='firstName', disabled='disabled')=user.firstName
            .row
              .col-md-offset-2.col-md-6
                .form-group
                  label(for='lastName') Prénom
                  div.form-control(type='text', name='name', disabled='disabled')=user.name
            .row
              .col-md-offset-2.col-md-6
                .form-group
                  label(for='timeA') Pseudo
                  div.form-control(type='text', name='username', disabled='disabled')=user.username
            .row
              .col-md-offset-2.col-md-6
                .form-group
                  label(for='phone') Mobile
                  div.form-control(type='tel', name='phone', disabled='disabled')=user.phoneNumber
            .row
              .col-md-offset-2.col-md-6
                .form-group
                  label(for='voiture') Adresse de domicile
                  div.form-control(type='text', name='address', disabled='disabled')=user.address
            .row
              .col-md-offset-2.col-md-6
                .form-group
                  label(for='mail') Adresse Email
                  div.form-control(type='text', name='email', disabled='disabled')=user.email
            br
            br
            br
            .row
              .col-md-12
                .col-md-offset-2.col-md-6
                  
              br
              br
    br
    br
    br
    footer#footer.site-footer
      section.site-footer-bottom
        ul.display
          li.dispi
            ul.dispi
              li.dispi
                | ©2016 CORP.
                a  
              li.dispi
                a(href='#') Legal Notice
                a  
              li.dispi
                a(href='#') Terms of use
