doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='../../favicon.ico')
    title Carea
    // Bootstrap core CSS
    link(href='../Stylesheets/bootstrap/bootstrap.css', rel='stylesheet')
    script(src='https://code.jquery.com/jquery-1.11.3.min.js')
    script(src='app.js')
    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    // Include all compiled plugins (below), or include individual files as needed
    // Latest compiled and minified JavaScript
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
    // Custom styles for this template
    link(rel='stylesheet', type='text/css', href='../stylesheets/Style.css')
  // NAVBAR ==================================================
  html
  body
    if session
      include ./navbar_connect.jade
    else
      include ./navbar_unconnect.jade
    // Corps de présentation
    .container-fluid.marg-nav
      .row
        .col-sm-offset-3.col-md-6
            .row
              .col-md-offset-2.col-md-6
                h2(style='text-align:center') Profil
                .form-group
                  label(for='firstName') Prénom
                  div.form-control(type='text', name='firstName', disabled='disabled')=user.firstName
            .row
              .col-md-offset-2.col-md-6
                .form-group
                  label(for='lastName') Nom
                  div.form-control(type='text', name='name', disabled='disabled')=user.name
            .row
              .col-md-offset-2.col-md-6
                .form-group
                  label(for='timeA') Pseudo
                  div.form-control(type='text', name='username', disabled='disabled')=user.username
            .row
              .col-md-offset-2.col-md-6
                .form-group
                  label(for='phone') Mobile
                  div.form-control(type='tel', name='phone', disabled='disabled')=user.phoneNumber
            .row
              .col-md-offset-2.col-md-6
                .form-group
                  label(for='voiture') Adresse de domicile
                  div.form-control(type='text', name='address', disabled='disabled')=user.address
            .row
              .col-md-offset-2.col-md-6
                .form-group
                  label(for='mail') Adresse Email
                  div.form-control(type='text', name='email', disabled='disabled')=user.email
    .footer-p
      footer#footer.site-footer
        section.site-footer-bottom
          ul.display
            li
              ul
                li.dispi
                  | ©2016 CARea
                  a
                li.dispi
                  a(href='/construct') Legal Notice
                  a
                li.dispi
                  a(href='/faq') FAQs